<nav class = " px-9 py-5 flex space-x-6 bg-black border-b border-black opacity-[0.80] rounded-b-lg sticky top-0">
    <div class="px-9 space-x-6 item-center">
        <a href="/" class="text-lg text-white font-semibold ">Home</a>
        <a href="/" class="text-lg text-white font-semibold ">About</a>
        <a href="#contact" class="text-lg text-white font-semibold ">Contact</a>
        <a href="https://github.com/ommudgal" target="_blank" class="text-lg text-white font-semibold ">Projects</a>
    </div>  
    <div class=" px-10 py-5 space-x-6 flex absolute top-0 right-0 ">
        <a href="#" class="text-lg font-semibold text-white hover:text-grey-500">Sign in</a>
    </div>
</nav>

